.app {
  text-align: center;
  background-color: #1b262d;
  color: #c4c7c9;
  font-size: calc(10px + 2vmin);
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
